{% extends 'base.html.twig' %}
{% block title %}Panier{% endblock %}
{% block stylesheets %}
    {# ###########################################WebPack-encore######################################## #}
    {{ encore_entry_link_tags('cart') }}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% if items | length > 0 %}
        <div class="cart">
        {% for item in items %}
            <div class="book-cover">
                <img src="{{ item.book.cover }}" alt="">
            </div>
            <div class="book-info">
                <h3>{{ item.book.name }}</h3>
                {% for authors in item.book.author %}
                    <h4>{{ authors }}</h4>
                {% endfor %}
                {% for categories in item.book.category[1] %}
                    <p>{{ categories }}</p>
                {% endfor %}
            </div>
            <div class="book-quantity">
                <h3>quantité :{{ item.quantity }}</h3>
            </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}