{% extends 'base.html.twig' %}
{% block title %}Panier{% endblock %}
{% block stylesheets %}
    {# ###########################################WebPack-encore######################################## #}
    {{ encore_entry_link_tags('cart') }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="cart-container">
    {% if items | length > 0 %}
    <div class="cart">
        <table>
            <thead>
            <tr>
                <th>image du livre</th>
                <th>Nom</th>
                <th>Auteur(e)(s)</th>
                <th>catégorie</th>
                <th>quantité</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr id="book_{{item.book.id}}">
                    <td><img src="{{ item.book.cover }}" alt=""></td>
                    <td>{{ item.book.name }}</td>
                    <td>
                    {% for authors in item.book.author %}
                        {{ authors }}
                    {% endfor %}
                    </td>
                    <td>
                        {{ item.book.category[0] }}
                    </td>
                    <td>quantité {{ item.quantity }}</td>
                    <td>
                        <div class="card-action">
                        <div class="cart-delete">
                            <a id="btn_delete" href="{{path('cart_delete', {'id':item.book.id})}}"><img src="{{ asset('images/icones/icons8-trash-26.png') }}" alt="icon_trash"></a>
                        </div>
                        <div class="cart-plus">
                            <a id="btn_add_quantity" href="{{path('cart_plus')}}"><img src="{{ asset('images/icones/icons8-plus-math-26.png') }}" alt="icon_trash"></a>
                        </div>
                        <div class="cart-less">
                            <a href="#"><img src="{{ asset('images/icones/icons8-subtract-26.png') }}" alt="icon_trash"></a>
                        </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Votre panier est vide...</p>
        {% endif %}
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {{ encore_entry_script_tags('cart') }}
{% endblock %}