{% extends './base.html.twig' %}
{% block title %}Rechercher un livre{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('search') }}
{% endblock %}
{% block body %}

    <div class="article">
        <article>
            <a href="{{ path('index') }}">accueill ></a><a href="{{ path('search') }}">rechercher ></a>
            <div class="title">
                <h4>Votre</h4>
                <h2>Recherche</h2>
            </div>
         <div class="search">
             <div class="input-search">
             <input type="text" placeholder="rechercher...">
             </div>
             <div class="btn-search">
             <img src="{{ asset('images/icones/icons8-google-web-search-48.png') }}" width="48" height="48" alt="">
             </div>
         </div>
        </article>

    </div>
{% endblock%}